@import url('https://fonts.googleapis.com/css2?family=Dynalight&family=Proza+Libre:wght@400;500;600;700&display=swap');

$primary-color: #17152A;
$secondary-color: #79A8A9;
$black: #16161D;
$white: #ffffff;

//Breakpoints
$tablet: 47.88em; //767px
$small-screen: 67.5em; //1080px
$large-screen: 90.63em; //1450px

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Proza Libre', sans-serif;
    line-height: 1.5;
    max-width: 250rem;
}